<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define ProductName="InfoTask" ?>
	<?define ProductVersion="1.0.0.0" ?>
	<?define ProductCode="9943FD50-AB45-47C8-8BDA-BECB74403C0F"?>
	<?define UpgradeCode="8272937F-0E45-4DCA-B30C-9A473773CBA4"?>
	<?define Manufacturer="UTE"?>
	<!--<?define IsAnalyzer="0"?>
	<?define IsConstructor="0"?>-->

	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)"
					 Language="1049" Version="$(var.ProductVersion)"
					 Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" SummaryCodepage="1251" Description="First one" />

		<Media Id="1" Cabinet="infoTask.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--Program files-->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="COMMONFOLDER" Name="$(var.Manufacturer)">
					<Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
						<Directory Id="Analyzer" Name="Analyzer"/>
						<Directory Id="Constructor" Name="Constructor"/>
						<Directory Id="Controller" Name="Controller">
							<Directory Id="History" Name="History"/>
							<Directory Id="Result" Name="Result"/>
						</Directory>
						<Directory Id="General" Name="General"/>
						<Directory Id="Graphics" Name="Graphics"/>
						<Directory Id="Projects" Name="Projects">
							<Component Id="CreateProjectsFolder"
										 Guid="78E22868-B750-47EB-9E4C-C19CCA939394">
								<CreateFolder />
							</Component>
						</Directory>
						<Directory Id="Providers" Name="Providers">
							<Directory Id="PArchives" Name="Archives"/>
							<Directory Id="POvation" Name="Ovation"/>
							<Directory Id="PTest" Name="Test"/>
						</Directory>
						<Directory Id="RAS" Name="RAS"/>
						<Directory Id="Reporter" Name="Reporter"/>
						<Directory Id="Reports" Name="Reports">
							<Component Id="CreateReportsFolder"
										 Guid="6F115682-65BF-4B94-8308-03B90D3A73C7">
								<CreateFolder />
							</Component>
						</Directory>
						<Directory Id="Tablik" Name="Tablik"/>
						<Directory Id="tmp" Name="tmp"/>
					</Directory>
				</Directory>
			</Directory>

			<!--Пуск_Программы-->
			<!--Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="$(var.Manufacturer)">
					<Directory Id="ProgramMenuDir" Name="$(var.ProductName)" />
				</Directory>
			</Directory-->

			<!--Рабочий стол-->
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<!--Описание устанавливаемых файлов-->

		<!--Analyzer-->
		<DirectoryRef Id="Analyzer">
			<Component Id="AnalyzerPart1" Guid="3C4016E3-99CE-45CC-BE8D-C7F187263A4E">
				<File Id="ArhAnalyzeraccdb_A" Name="ArhAnalyzer.accdb"
											Source="Analyzer\ArhAnalyzer.accdb"	Vital="yes" DiskId="1" />
				<File Id="AnalyzerArchiveaccdb_A" Name="ArhAnalyzerArchive.accdb"
											Source="Providers\Archives\CalcArchiveTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="TablikHistoryaccdb_A" Name="TablikHistory.accdb"
											Source="Tablik\TablikHistoryTemplate.accdb"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="AnalyzerPart2" Guid="96FB6CB1-9D93-4B22-916C-45B46475EA90" Permanent="yes">
				<File Id="AppDataaccdb_A" Name="AppData.accdb"
											Source="tmp\AppData.accdb"	Vital="yes" DiskId="1" />
				<File Id="AnalyzerProjectaccdb_A" Name="ArhAnalyzerProject.accdb"
											Source="Constructor\ProjectTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="AnalyzerTemplatesaccdb_A" Name="ArhAnalyzerTemplates.accdb"
											Source="Constructor\ProjectTemplate.accdb"	Vital="yes" DiskId="1" />
			</Component>
		</DirectoryRef>

		<!--Constructor-->
		<DirectoryRef Id="Constructor">
			<Component Id="ConstructorPart1" Guid="5C83DDD5-6D54-42AD-B6E6-C3D1C8BEC72D">
				<File Id="CalcArchiveaccdb_Cons" Name="CalcArchive.accdb"
											Source="Providers\Archives\CalcArchiveTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="TablikHistoryaccdb_Cons" Name="TablikHistory.accdb"
											Source="Tablik\TablikHistoryTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="Constructoraccdb_Cons" Name="Constructor.accdb"
											Source="Constructor\Constructor.accdb"	Vital="yes" DiskId="1" />
				<File Id="ProjectTemplateaccdb_Cons" Name="ProjectTemplate.accdb"
											Source="Constructor\ProjectTemplate.accdb"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="ConstructorPart2" Guid="E0B3C7B9-4675-452F-A1BE-71D8CD2FA54A" Permanent="yes">
				<File Id="AppDataaccdb_Cons" Name="AppData.accdb"
											Source="tmp\AppData.accdb"	Vital="yes" DiskId="1" />
				<File Id="TestProvideraccdb_Cons" Name="TestProvider.accdb"
											Source="Providers\Test\TestProviderTemplate.accdb"	Vital="yes" DiskId="1" />
			</Component>
		</DirectoryRef>

		<!--Controller-->
		<DirectoryRef Id="Controller">
			<Component Id="ControllerPart1" Guid="E6A9CCAE-2F1E-4F08-AC13-30153F1345C4" Permanent="no">
				<File Id="HistoryTemplateaccdb_Cont" Name="HistoryTemplate.accdb"
											Source="Controller\HistoryTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="ResultTemplateaccdb_Cont" Name="ResultTemplate.accdb"
											Source="Controller\ResultTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="ControllerClientdll_Cont" Name="ControllerClient.dll"
								Source="Controller\ControllerClient.dll"	Vital="yes" DiskId="1" />
				<File Id="ControllerClientpdb_Cont" Name="ControllerClient.pdb"
								Source="Controller\ControllerClient.pdb"	Vital="yes" DiskId="1" />
				<File Id="Calculation_Cont" Name="Calculation.dll"
								Source="Controller\Calculation.dll"	Vital="yes" DiskId="1" />
				<File Id="Calculationpdb_Cont" Name="Calculation.pdb"
								Source="Controller\Calculation.pdb"	Vital="yes" DiskId="1" />

				<File Id="ArchiveAccessdll_Cont" Name="ArchiveAccess.dll"
								Source="Controller\ArchiveAccess.dll"	Vital="yes" DiskId="1" />
				<File Id="ArchiveAccesspdb_Cont" Name="ArchiveAccess.pdb"
								Source="Controller\ArchiveAccess.pdb"	Vital="yes" DiskId="1" />
				<File Id="ArchiveSQLServerdll_Cont" Name="ArchiveSQLServer.dll"
								Source="Controller\ArchiveSQLServer.dll"	Vital="yes" DiskId="1" />
				<File Id="ArchiveSQLServerpdb_Cont" Name="ArchiveSQLServer.pdb"
								Source="Controller\ArchiveSQLServer.pdb"	Vital="yes" DiskId="1" />
				<File Id="BaseLibrarydll_Cont" Name="BaseLibrary.dll"
								Source="Controller\BaseLibrary.dll"	Vital="yes" DiskId="1" />
				<File Id="BaseLibrarypdb_Cont" Name="BaseLibrary.pdb"
								Source="Controller\BaseLibrary.pdb"	Vital="yes" DiskId="1" />
				<File Id="CommonTypesdll_Cont" Name="CommonTypes.dll"
								Source="Controller\CommonTypes.dll"	Vital="yes" DiskId="1" />
				<File Id="CommonTypespdb_Cont" Name="CommonTypes.pdb"
								Source="Controller\CommonTypes.pdb"	Vital="yes" DiskId="1" />
				<File Id="okawsp6dll_Cont" Name="okawsp6.dll"
								Source="Controller\okawsp6.dll"	Vital="yes" DiskId="1" />

				<File Id="SourceOvationdll_Cont" Name="SourceOvation.dll"
								Source="Controller\SourceOvation.dll"	Vital="yes" DiskId="1" />
				<File Id="SourceOvationpdb_Cont" Name="SourceOvation.pdb"
								Source="Controller\SourceOvation.pdb"	Vital="yes" DiskId="1" />
				<File Id="SourceRetrodll_Cont" Name="SourceRetro.dll"
								Source="Controller\BaseLibrary.dll"	Vital="yes" DiskId="1" />
				<File Id="SourceRetropdb_Cont" Name="SourceRetro.pdb"
								Source="Controller\BaseLibrary.pdb"	Vital="yes" DiskId="1" />
				<File Id="SourceTestdll_Cont" Name="SourceTest.dll"
								Source="Controller\CommonTypes.dll"	Vital="yes" DiskId="1" />
				<File Id="SourceTestpdb_Cont" Name="SourceTest.pdb"
								Source="Controller\CommonTypes.pdb"	Vital="yes" DiskId="1" />
				<File Id="zaoecutewpf_Cont" Name="zaoecute.wpf"
								Source="Controller\zaoecute.wpf"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="ControllerPart2" Guid="10ABC25A-AB5C-4600-B789-F992AB87088A" Permanent="yes">
				<File Id="ControllerDataaccdb_Cont" Name="ControllerData.accdb"
											Source="tmp\ControllerData.accdb"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="ControllerPart3" Guid="{1C3131EB-F1C9-481D-8087-8F6FC2814D37}">
				<File Id="Controllerexe_Cont" Name="Controller.exe"
								Source="Controller\Controller.exe"	Vital="yes" DiskId="1" />
				<File Id="Controllerexeconfig_Cont" Name="Controller.exe.config"
								Source="Controller\Controller.exe.config"	Vital="yes" DiskId="1" />
				<File Id="Controllerpdb_Cont" Name="Controller.pdb"
								Source="Controller\Controller.pdb"	Vital="yes" DiskId="1" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="History">
			<Component Id="CreateHistoryFolder"
										 Guid="{762D5A70-FCC8-4CC0-A7F2-3DA07A77CEBD}">
				<CreateFolder />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Result">
			<Component Id="CreateResultFolder"
										 Guid="{EE7A991F-93D6-4774-9D98-7E8DA3FC27D5}">
				<CreateFolder />
			</Component>
		</DirectoryRef>

		<!--General-->
		<DirectoryRef Id="General">
			<Component Id="GeneralPart1" Guid="B76987F9-5E81-4D21-A5B9-1A3E55A97B8E">
				<File Id="Configaccdb_G" Name="Config.accdb"
											Source="General\Config.accdb"	Vital="yes" DiskId="1" />
				<File Id="General_G" Name="General.accdb"
											Source="General\General.accdb"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="PathKeyForRegistry" Guid="2E350BEE-924C-4D08-AAFA-BE275B53BCF5">
				<RegistryValue Root="HKLM" Key="Software\$(var.Manufacturer)" Name="InfoTaskPath"
											 Value="[INSTALLLOCATION]" Type="string"/>
			</Component>
		</DirectoryRef>

		<!--Graphics-->
		<DirectoryRef Id="Graphics">
			<Component Id="GrapfhicLibrary_D" Guid="FDBF2BEC-5A5F-416F-941B-5011BF4868F0">
				<File Id="GrapfhicLibraryDll" Name="GraphicLibrary.dll"
							Source="Grafics\GraphicLibrary.dll"
							Vital="yes" DiskId="1" KeyPath="yes"/>
			</Component>
			<Component Id="GrapfhicLibrary_P" Guid="FC4600DF-48DA-47F8-8C75-3E90476AD2BF">
				<File Id="GrapfhicLibraryPBD" Name="GraphicLibrary.pdb"
							Source="Grafics\GraphicLibrary.pdb"
							Vital="yes" DiskId="1"/>
			</Component>
			<Component Id="GrapfhicLibrary_BaseLibrary_D" Guid="D06E9008-4DE1-413D-98B1-9893E4B7D98A">
				<File Id="BaseLibraryDll" Name="BaseLibrary.dll"
							Source="Grafics\BaseLibrary.dll"
							Vital="yes" DiskId="1"/>
			</Component>
			<Component Id="GrapfhicLibrary_BaseLibrary_P" Guid="C408DA4C-1D35-4C0C-85DD-1C76CC96FD3E">
				<File Id="BaseLibraryPBD" Name="BaseLibrary.pdb"
							Source="Grafics\BaseLibrary.pdb"
							Vital="yes" DiskId="1"/>
			</Component>
		</DirectoryRef>

		<!--Providers-->
		<DirectoryRef Id="PArchives">
			<Component Id="Providers_A" Guid="D4F2A397-BE47-4927-B62A-EC650F76A33B">
				<File Id="CalcArchiveTemplate" Name="CalcArchiveTemplate.accdb"
							Source="Providers\Archives\CalcArchiveTemplate.accdb"
							Vital="yes" DiskId="1">
					<!--Shortcut Id="calcarcvivetemplateshortcut" Name="calcarcvivetemplateshortcut"
										WorkingDirectory="INSTALLLOCATION" Directory="DesktopFolder" Icon="UTE32.ico">
					</Shortcut>
					<Shortcut Id="calcarcvivetemplateprfl" Name="запустить calcarcvivetemplate"
										WorkingDirectory="INSTALLLOCATION" Directory="ProgramMenuDir" Icon="UTE32.ico">
					</Shortcut-->
				</File>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="PTest">
			<Component Id="Providers_TC" Guid="6E9A57B9-CFC8-46C7-81A4-632F4C178B60">
				<File Id="TestCommunicator" Name="TestCommunicator.accdb"
											Source="Providers\Test\TestCommunicator.accdb"
											Vital="yes" DiskId="1" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="PTest">
			<Component Id="Providers_TPT" Guid="83476C54-F946-4395-B62D-31D6FE7190CF">
				<File Id="TestProviderTemplate" Name="TestProviderTemplate.accdb"
											Source="Providers\Test\TestProviderTemplate.accdb"
											Vital="yes" DiskId="1"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="POvation">
			<!--<Component Id="Providers_O" Guid="83A5F356-C9C8-4C85-B734-34405B86C092">
			<File Id="OvationHistorianComm" Name="OvationHistorianComm.accdb"
						Source="Providers\Ovation\OvationHistorianComm.accdb"
						Vital="yes" DiskId="1"/>
		</Component>-->
		</DirectoryRef>

		<!--Tablik-->
		<DirectoryRef Id="Tablik">
			<Component Id="TablikPart1" Guid="D8132906-59EE-4EEC-8125-FA30B79418BE">
				<File Id="TablikHistoryTemplateaccdb_T" Name="TablikHistoryTemplate.accdb"
											Source="Tablik\TablikHistoryTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="Tablikdll_T" Name="Tablik.dll"
											Source="Tablik\Tablik.dll"	Vital="yes" DiskId="1" />
				<File Id="Tablikpdb_T" Name="Tablik.pdb"
											Source="Tablik\Tablik.pdb"	Vital="yes" DiskId="1" />

				<File Id="BaseLibrarydll_T" Name="BaseLibrary.dll"
								Source="Tablik\BaseLibrary.dll"	Vital="yes" DiskId="1" />
				<File Id="BaseLibrarypdb_T" Name="BaseLibrary.pdb"
								Source="Tablik\BaseLibrary.pdb"	Vital="yes" DiskId="1" />
				<File Id="CommonTypesdll_T" Name="CommonTypes.dll"
								Source="Tablik\CommonTypes.dll"	Vital="yes" DiskId="1" />
				<File Id="CommonTypespdb_T" Name="CommonTypes.pdb"
								Source="Tablik\CommonTypes.pdb"	Vital="yes" DiskId="1" />
				<File Id="Compillerdll_T" Name="Compiller.dll"
								Source="Tablik\Compiller.dll"	Vital="yes" DiskId="1" />
				<File Id="Compillerpdb_T" Name="Compiller.pdb"
								Source="Tablik\Compiller.pdb"	Vital="yes" DiskId="1" />
			</Component>
		</DirectoryRef>

		<!--RAS-->
		<DirectoryRef Id="RAS">
			<!--<Component Id="RASPart1" Guid="1A7433B5-8348-4048-AEB6-2E1C4AC198E4">
				<File Id="Rasaccdb_R" Name="Ras.accdb"
											Source="RAS\Ras.accdb"	Vital="yes" DiskId="1" />
				<File Id="RasAnalyzerProjectaccdb_R" Name="RasAnalyzerProject.accdb"
											Source="RAS\RasAnalyzerProject.accdb"	Vital="yes" DiskId="1" />
				<File Id="RasProjectaccdb_R" Name="RasProject.accdb"
											Source="RAS\RasProject.accdb"	Vital="yes" DiskId="1" />
				<File Id="RasTemplatesaccdb_R" Name="RasTemplates.accdb"
											Source="RAS\RasTemplates.accdb"	Vital="yes" DiskId="1" />
				<File Id="TablikHistoryaccdb_R" Name="TablikHistory.accdb"
											Source="Tablik\TablikHistoryTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="RASArchiveaccdb_R" Name="RASArchive.accdb"
											Source="Providers\Archives\CalcArchiveTemplate.accdb"	Vital="yes" DiskId="1" />
			</Component>-->
		</DirectoryRef>

		<!--tmp-->
		<DirectoryRef Id="tmp">
			<Component Id="RegAsm" Guid="14A90EFE-D57A-4CB4-8812-D0241AA5C0DA">
				<File Id="RegAsmexe" Name="RegAsm.exe" Source="tmp\RegAsm.exe"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="dotnet" Guid="{1DB7D775-1FD5-448E-AD52-4A76ED58F512}">
				<File Id="dotnet35exe" Name="dotnetfx35.exe" Source="tmp\dotnetfx35.exe"	Vital="yes" DiskId="1" />
				<File Id="dotnet40exe" Name="dotNetFx40_Full_x86_x64.exe" Source="tmp\dotNetFx40_Full_x86_x64.exe"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="fsharp" Guid="{23189C53-2DE8-46B2-8E33-CF0736C4AF76}">
				<File Id="FSharpLangpack20exe" Name="FSharpLangpack2.0.exe" Source="tmp\FSharpLangpack2.0.exe"	Vital="yes" DiskId="1" />
				<File Id="FSharpRedist20exe" Name="FSharpRedist2.0.exe" Source="tmp\FSharpRedist2.0.exe"	Vital="yes" DiskId="1" />
				<File Id="InstallFSharpPowerPackmsi" Name="InstallFSharpPowerPack.msi" Source="tmp\InstallFSharpPowerPack.msi"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="office" Guid="{BAC6E15E-0BBA-4E17-8706-42898C10EB6A}">
				<File Id="o2007piamsi" Name="o2007pia.msi" Source="tmp\o2007pia.msi"	Vital="yes" DiskId="1" />
				<File Id="vstor40_x64exe" Name="vstor40_x64.exe" Source="tmp\vstor40_x64.exe"	Vital="yes" DiskId="1" />
				<File Id="vstor40_x86exe" Name="vstor40_x86.exe" Source="tmp\vstor40_x86.exe"	Vital="yes" DiskId="1" />
			</Component>
		</DirectoryRef>

		<!--Reporter-->
		<DirectoryRef Id="Reporter">
			<!--<Component Id="ReporterPart1" Guid="95D5467C-8EF0-4608-AC1C-623210265B08">
				<File Id="ReportTemplateaccdb_Rep" Name="ReportTemplate.accdb"
											Source="Reporter\ReportTemplate.accdb"	Vital="yes" DiskId="1" />
				<File Id="ReportTemplatexlsx_Rep" Name="ReportTemplate.xlsx"
											Source="Reporter\ReportTemplate.xlsx"	Vital="yes" DiskId="1" />

				<File Id="ArchiveAccessdll_Rep" Name="ArchiveAccess.dll"
											Source="Reporter\ArchiveAccess.dll"	Vital="yes" DiskId="1" />
				<File Id="ArchiveAccesspdb_Rep" Name="ArchiveAccess.pdb"
											Source="Reporter\ArchiveAccess.pdb"	Vital="yes" DiskId="1" />
				<File Id="ArchiveSQLServerdll_Rep" Name="ArchiveSQLServer.dll"
											Source="Reporter\ArchiveSQLServer.dll"	Vital="yes" DiskId="1" />
				<File Id="ArchiveSQLServerpdb_Rep" Name="ArchiveSQLServer.pdb"
											Source="Reporter\ArchiveSQLServer.pdb"	Vital="yes" DiskId="1" />
				<File Id="BaseLibrarydll_Rep" Name="BaseLibrary.dll"
											Source="Reporter\BaseLibrary.dll"	Vital="yes" DiskId="1" />
				<File Id="BaseLibrarypdb_Rep" Name="BaseLibrary.pdb"
											Source="Reporter\BaseLibrary.pdb"	Vital="yes" DiskId="1" />
				<File Id="CommonTypesdll_Rep" Name="CommonTypes.dll"
											Source="Reporter\CommonTypes.dll"	Vital="yes" DiskId="1" />
				<File Id="CommonTypesBaseLibrarypdb_Rep" Name="CommonTypes.pdb"
											Source="Reporter\CommonTypes.pdb"	Vital="yes" DiskId="1" />
				<File Id="mageexe_Rep" Name="mage.exe"
											Source="Reporter\mage.exe"	Vital="yes" DiskId="1" />
				<File Id="Utilitiesdll_Rep" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll"
											Source="Reporter\Microsoft.Office.Tools.Common.v4.0.Utilities.dll"	Vital="yes" DiskId="1" />
				<File Id="Utilitiesxml_Rep" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.xml"
											Source="Reporter\Microsoft.Office.Tools.Common.v4.0.Utilities.xml"	Vital="yes" DiskId="1" />
				<File Id="ReporterCommondll_Rep" Name="ReporterCommon.dll"
											Source="Reporter\ReporterCommon.dll"	Vital="yes" DiskId="1" />
				<File Id="ReporterCommonpdb_Rep" Name="ReporterCommon.pdb"
											Source="Reporter\ReporterCommon.pdb"	Vital="yes" DiskId="1" />
				<File Id="ReporterExcel2007dll_Rep" Name="ReporterExcel2007.dll"
											Source="Reporter\ReporterExcel2007.dll"	Vital="yes" DiskId="1" />
				<File Id="ReporterExcel2007manifest_Rep" Name="ReporterExcel2007.dll.manifest"
											Source="Reporter\ReporterExcel2007.dll.manifest"	Vital="yes" DiskId="1" />
				<File Id="ReporterExcel2007vsto_Rep" Name="ReporterExcel2007.vsto"
											Source="Reporter\ReporterExcel2007.vsto"	Vital="yes" DiskId="1" />
				<File Id="ReporterExcel2010dll_Rep" Name="ReporterExcel2010.dll"
											Source="Reporter\ReporterExcel2010.dll"	Vital="yes" DiskId="1" />
				<File Id="ReporterExcel2010manifest_Rep" Name="ReporterExcel2010.dll.manifest"
											Source="Reporter\ReporterExcel2010.dll.manifest"	Vital="yes" DiskId="1" />
				<File Id="ReporterExcel2010vsto_Rep" Name="ReporterExcel2010.vsto"
											Source="Reporter\ReporterExcel2010.vsto"	Vital="yes" DiskId="1" />

				<File Id="SourceOvationdll_Rep" Name="SourceOvation.dll"
											Source="Reporter\SourceOvation.dll"	Vital="yes" DiskId="1" />
				<File Id="SourceOvationpdb_Rep" Name="SourceOvation.pdb"
											Source="Reporter\SourceOvation.pdb"	Vital="yes" DiskId="1" />
				<File Id="SourceRetrodll_Rep" Name="SourceRetro.dll"
											Source="Reporter\SourceRetro.dll"	Vital="yes" DiskId="1" />
				<File Id="SourceRetropdb_Rep" Name="SourceRetro.pdb"
											Source="Reporter\SourceRetro.pdb"	Vital="yes" DiskId="1" />
				<File Id="SourceTestdll_Rep" Name="SourceTest.dll"
											Source="Reporter\SourceTest.dll"	Vital="yes" DiskId="1" />
				<File Id="SourceTestpdb_Rep" Name="SourceTest.pdb"
											Source="Reporter\SourceTest.pdb"	Vital="yes" DiskId="1" />
			</Component>
			<Component Id="ReporterPart2" Guid="A20CC9D8-BC7A-41B8-8462-4FC04A417426">
				<File Id="ReporterDataaccdb_Rep" Name="ReporterData.accdb"
											Source="tmp\ReporterData.accdb"	Vital="yes" DiskId="1" />
			</Component>-->
		</DirectoryRef>

		<!--DirectoryRef Id="ProgramMenuDir">
			<Component Id="ProgramMenuDir" Guid="1EEF77CD-03C4-46B6-8598-02186CA36D57">
				<Shortcut Id="UninstallInfotask" Name="Удалить InfoTask" Target="[System32Folder]msiexec.exe"
									Arguments="/x [ProductCode]" />
				<RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" 
											 KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="ProgramMenuMDir">
			<Component Id="ProgramMenuMDir" Guid="C2F9DA52-579E-432E-8DA9-BD9494EBF8EC">
				<RemoveFolder Id="ProgramMenuMDir" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value=""
											 KeyPath="yes" />
			</Component>
		</DirectoryRef-->

		<!--Features-->
		<Feature Id='Complete' Title="$(var.ProductName)" Description='Установка компонентов $(var.ProductName)' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='disallow' InstallDefault='local'>

			<Feature Id='KernelFeature' Title="Ядро" Description='Дополнительные компоненты ядра' Display='expand' Level="1"
					 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='disallow' InstallDefault='local'>
				<!--ComponentRef Id="ProgramMenuDir"/>
				<ComponentRef Id="ProgramMenuMDir"/-->
				<ComponentRef Id="CreateProjectsFolder"/>
				<ComponentRef Id="CreateReportsFolder"/>
				<ComponentRef Id="CreateHistoryFolder"/>
				<ComponentRef Id="CreateResultFolder"/>
				<ComponentRef Id="RegAsm"/>
				<ComponentRef Id="dotnet"/>
				<ComponentRef Id="fsharp"/>
				<ComponentRef Id="office"/>
				<ComponentRef Id="PathKeyForRegistry"/>

				<ComponentRef Id="ControllerPart1"/>
				<ComponentRef Id="ControllerPart2"/>

				<ComponentRef Id="GeneralPart1"/>

				<ComponentRef Id="TablikPart1"/>

				<Feature Id="ControllerMonitorFeature" Title="Монитор контроллера" Description="Графический компонент" Display="expand" Level="1">
					<ComponentRef Id="ControllerPart3"/>
				</Feature>
				<Feature Id='GraphicFeature' Title="Графический компонент" Description='Графический компонент' Display='expand' Level="1"
					 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
					<ComponentRef Id='GrapfhicLibrary_D'/>
					<ComponentRef Id='GrapfhicLibrary_P'/>
					<ComponentRef Id='GrapfhicLibrary_BaseLibrary_D'/>
					<ComponentRef Id='GrapfhicLibrary_BaseLibrary_P'/>
				</Feature>
				<Feature Id='ProviderArchiveFeature' Title="Архив" Description='Архив' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
					<ComponentRef Id="Providers_A"/>
				</Feature>
			</Feature>

			<Feature Id='AnalyzerFeature' Title="Анализатор архива" Description='Анализатор архива' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
				<Condition Level="0">
					<![CDATA[ISANALYZER = "0"]]>
				</Condition>
				<ComponentRef Id="AnalyzerPart1"/>
				<ComponentRef Id="AnalyzerPart2"/>
			</Feature>

			<Feature Id='ConstructorFeature' Title="Конструктор" Description='Конструктор' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
				<Condition Level="0">
					<![CDATA[ISCONSTRUCTOR = "0"]]>
				</Condition>
				<ComponentRef Id="ConstructorPart1"/>
				<ComponentRef Id="ConstructorPart2"/>
				<ComponentRef Id="Providers_TC"/>
				<ComponentRef Id="Providers_TPT"/>
			</Feature>

			<!--Feature Id='ProvidersFeature' Title="Providers" Description='Providers' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='disallow' InstallDefault='local'>
				<Feature Id='Providers_KFeature' Title="Космотроника" Description='Космотроника' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
					<ComponentRef Id="Providers_K"/>
				</Feature>
				<Feature Id='Providers_OFeature' Title="Овация" Description='Овация' Display='expand' Level="2"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
					<ComponentRef Id="Providers_O"/>
				</Feature>
				<Feature Id='Providers_TFeature' Title="Тестовый" Description='Тестовый' Display='expand' Level="2"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
					<ComponentRef Id="Providers_TC"/>
					<ComponentRef Id="Providers_TPT"/>
				</Feature>
			</Feature-->

			<!--Feature Id='RASFeature' Title="RAS" Description='RAS' Display='expand' Level="1"
				 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
				<ComponentRef Id="RASPart1"/>
			</Feature-->

			<!--Feature Id='ReporterFeature' Title="Reporter" Description='Reporter' Display='expand' Level="1"
						 ConfigurableDirectory='INSTALLLOCATION' AllowAdvertise='no' Absent='allow' InstallDefault='local'>
				<ComponentRef Id="ReporterPart1"/>
				<ComponentRef Id="ReporterPart2"/>
			</Feature-->
		</Feature>

		<!--Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
		<WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
		<UIRef Id="WixUI_InstallDir"/-->

		<UI Id='MyWixUI_Mondo'>
			<UIRef Id='WixUI_Mondo'/>
			<UIRef Id='WixUI_ErrorProgressText'/>

			<Dialog Id="UserRegistrationDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
				<Control Id="NameLabel" Type="Text" X="45" Y="73" Width="100" Height="15" TabSkip="no" Text="&amp;User Name:" />
				<Control Id="NameEdit" Type="Edit" X="45" Y="85" Width="220" Height="18" Property="USERNAME" Text="{80}" />
				<Control Id="OrganizationLabel" Type="Text" X="45" Y="110" Width="100" Height="15" TabSkip="no" Text="&amp;Organization:" />
				<Control Id="OrganizationEdit" Type="Edit" X="45" Y="122" Width="220" Height="18" Property="COMPANYNAME" Text="{80}" />
				<Control Id="CDKeyLabel" Type="Text" X="45" Y="147" Width="50" Height="10" TabSkip="no">
					<Text>CD &amp;Key:</Text>
				</Control>
				<Control Id="CDKeyEdit" Type="MaskedEdit" X="45" Y="159" Width="250" Height="16" Property="PIDKEY" Text="[PIDTemplate]"/>
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="DoAction" Value="AnalyzerComplected">1</Publish>
					<Publish Event="DoAction" Value="ConstructorComplected">1</Publish>

					<Publish Event="ValidateProductID" Value="0">1</Publish>
					<Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
					<Publish Event="NewDialog" Value="SetupTypeDlg">ProductID</Publish>

					<!--<Publish Event="DoAction" Value="msg">1</Publish>-->

					<!--<Publish Property="ISANALYZER" Value="0">
					1
				</Publish>-->

					<!--<Publish Event="Remove" Value="AnalyzerFeature">
					<![CDATA[ISANALYZER = "1"]]>
				</Publish>-->

				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Please enter your customer information</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Customer Information</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>

			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="UserRegistrationDlg" Order="3">LicenseAccepted = "1"</Publish>
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="UserRegistrationDlg">1</Publish>
		</UI>

		<Property Id="PIDTemplate"><![CDATA[<?>]]></Property>

		<!--Программа для ярлыков-->
		<!--Icon Id ="UTE32.ico" SourceFile="UTE32.ico"/-->

		<!--WixVariable Id="WixUIBannerBmp" Value="Banner.bmp"/>
		<WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp"/-->
		<WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>

		<CustomAction Id='RegGraph' Directory='Graphics' ExeCommand="cmd.exe /c &quot;[tmp]\RegAsm.exe&quot; GraphicLibrary.dll /tlb GraphicLibrary.tlb /codebase GraphicLibrary" Return='asyncNoWait' Execute ='deferred' />
		<CustomAction Id='RegTablik' Directory='Tablik' ExeCommand="cmd.exe /c &quot;[tmp]RegAsm.exe&quot; Tablik.dll /tlb Tablik.tlb /codebase Tablik" Return='asyncNoWait' Execute ='deferred' />
		<CustomAction Id='RegController' Directory='Controller' ExeCommand="cmd.exe /c &quot;[tmp]RegAsm.exe&quot; ControllerClient.dll /tlb ControllerClient.tlb /codebase ControllerClient" Return='asyncNoWait' Execute ='deferred' />

		<CustomAction Id='DeRegGraph' Directory='Graphics' ExeCommand="cmd.exe /c &quot;[tmp]RegAsm.exe&quot; GraphicLibrary.dll /tlb GraphicLibrary.tlb /codebase GraphicLibrary /u" Return="ignore" Execute="immediate" />
		<CustomAction Id='DeRegTablik' Directory='Tablik' ExeCommand="cmd.exe /c &quot;[tmp]RegAsm.exe&quot; Tablik.dll /tlb Tablik.tlb /codebase Tablik /u" Return="ignore" Execute="immediate" />
		<CustomAction Id='DeRegController' Directory='Controller' ExeCommand="cmd.exe /c &quot;[tmp]RegAsm.exe&quot; ControllerClient.dll /tlb ControllerClient.tlb /codebase ControllerClient /u" Return="ignore" Execute="immediate" />

		<CustomAction Id="RemoveGraphicLibrarytlb" Script="vbscript" Return="ignore">
			<![CDATA[
			On Error Resume Next
	dim filesys
 Set filesys = CreateObject("Scripting.FileSystemObject")
		filesys.DeleteFile Session.Property("Graphics") & "\GraphicLibrary.tlb"
	]]>
		</CustomAction>

		<CustomAction Id="RemoveTabliktlb" Script="vbscript" Return="ignore">
			<![CDATA[
			On Error Resume Next
	dim filesys
 Set filesys = CreateObject("Scripting.FileSystemObject")
		filesys.DeleteFile Session.Property("Tablik") & "\Tablik.tlb"
	]]>
		</CustomAction>

		<CustomAction Id="RemoveControllertlb" Script="vbscript" Return="ignore">
			<![CDATA[
			On Error Resume Next
	dim filesys
 Set filesys = CreateObject("Scripting.FileSystemObject")
		filesys.DeleteFile Session.Property("Controller") & "\ControllerClient.tlb"
	]]>
		</CustomAction>

		<Property Id="ISANALYZER" Value="1" Secure="yes">
		</Property>
		<Property Id="ISCONSTRUCTOR" Value="1">
		</Property>
		<CustomAction Id="AnalyzerComplected" Script="vbscript" Return="check" Execute="immediate">
			<![CDATA[
			'If Session.Property("PIDKEY") = "1" OR Session.Property("PIDKEY") = "3" Then Session.Property("ISANALYZER") = "1" Else Session.Property("ISANALYZER") = "0" 
			'Session.Property("ISANALYZER") = "0"
			]]>
		</CustomAction>
		<CustomAction Id="ConstructorComplected" Script="vbscript" Return="check" Execute="immediate">
			<![CDATA[
			'If Session.Property("PIDKEY") = "2" OR Session.Property("PIDKEY") = "3" Then Session.Property("ISCONSTRUCTOR") = "1" Else Session.Property("ISCONSTRUCTOR") = "0"
			]]>
		</CustomAction>
		<!--<PropertyRef Id="NETFRAMEWORK35"/>
		<PropertyRef Id="NETFRAMEWORK40FULL"/>
		<CustomAction Id="msg" Script="vbscript" Return="check">
			<![CDATA[
			'Msgbox Session.Property("NETFRAMEWORK40FULL")
			]]>
		</CustomAction>-->

		<!--<CustomAction Id="runDotnet35Install" Directory="tmp"
									ExeCommand="msiexec.exe /c /i dotnetfx35.exe /qn"
									Return="check" Execute="deferred"/>
		<CustomAction Id="runDotnet40Install" Directory="tmp"
									ExeCommand="dotNetFx40_Full_x86_x64.exe"
								Execute="deferred" Return="check"/>
		<CustomAction Id="runFsharpInstall1" FileKey="FSharpLangpack20exe" ExeCommand="" Execute="immediate" Return="check"/>
		<CustomAction Id="runFsharpInstall2" FileKey="FSharpRedist20exe" ExeCommand="" Execute="immediate" Return="check"/>
		<CustomAction Id="runFsharpInstall3" FileKey="InstallFSharpPowerPackmsi" ExeCommand="" Execute="immediate" Return="check"/>
		<CustomAction Id="runOffice2007DrInstall" FileKey="o2007piamsi" ExeCommand="" Execute="immediate" Return="check"/>
		<CustomAction Id="runOffice2010Dr64Install" FileKey="vstor40_x64exe" ExeCommand="" Execute="immediate" Return="check"/>
		<CustomAction Id="runOffice2010Dr86Install" FileKey="vstor40_x86exe" ExeCommand="" Execute="immediate" Return="check"/>-->

		<InstallExecuteSequence>
			<!--<Custom Action="AnalyzerComplected" After="CostFinalize">Not Installed OR REINSTALL"</Custom>
			<Custom Action="ConstructorComplected" After="CostFinalize">Not Installed OR REINSTALL</Custom>-->

			<!--<Custom Action="runOffice2010Dr86Install" After="CostFinalize">Not Installed</Custom>-->
			<!--<Custom Action="runDotnet35Install" After="InstallInitialize">Not Installed AND NOT NETFRAMEWORK35</Custom>
			<Custom Action="runDotnet40Install" After="InstallInitialize">Not Installed</Custom>-->

			<Custom Action="RegGraph" After="InstallFiles"><![CDATA[&GraphicFeature=3]]></Custom>
			<Custom Action="RegTablik" After="InstallFiles">Not Installed</Custom>
			<Custom Action="RegController" After="InstallFiles">Not Installed</Custom>

			<Custom Action="DeRegGraph" Before="RemoveFiles"><![CDATA[&GraphicFeature=2]]></Custom>
			<Custom Action="DeRegTablik" Before="RemoveFiles">Installed</Custom>
			<Custom Action="DeRegController" Before="RemoveFiles">Installed</Custom>

			<Custom Action="RemoveGraphicLibrarytlb" Before="RemoveFiles"><![CDATA[&GraphicFeature=2]]></Custom>
			<Custom Action="RemoveTabliktlb" Before="RemoveFiles">Installed</Custom>
			<Custom Action="RemoveControllertlb" Before="RemoveFiles">Installed</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>